<mat-card fxLayout="column" fxLayoutAlign="center center">
  <h1>Welcome to surveymaster!</h1>
  <div class="divider"></div>
  <button class="loginbutton" [routerLink]="['/user/login']" mat-button>Already a member? Login!</button>
  <mat-horizontal-stepper>
    <mat-step completed="false">
      <ng-template matStepLabel>Answer surveys</ng-template>
      <img src="../../../../assets/Answers.png">
      <div class="buttons" fxLayoutAlign="center">
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step completed="false">
      <ng-template matStepLabel>View results</ng-template>
      <img src="../../../../assets/results.png">
      <div class="buttons" fxLayoutAlign="center">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step completed="false">
      <ng-template matStepLabel>Create your own surveys</ng-template>
      <img src="../../../../assets/submit.png">
      <div class="buttons" fxLayoutAlign="center">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step completed="false">
      <ng-template matStepLabel>Comment on surveys</ng-template>
      <img src="../../../../assets/comments.png">
      <div class="buttons" fxLayoutAlign="center">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step completed="false" >
      <ng-template matStepLabel>Register now</ng-template>
      <div  fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button [routerLink]="['/user/register']">Create a new account</button>
      </div>
      <div class="buttons" fxLayoutAlign="center">
        <button mat-button matStepperPrevious>Previous</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>