h1, h4 {
    width: 100%;
    text-align: center;
}

.loginbutton {
    font-size: 18pt;
}

mat-horizontal-stepper {
    max-width: 940px;
    margin-top: 16px;
}

.buttons {
    margin-top: 16px;
}

img {
    max-width:100%;
    max-height:100%;
}

p {
    margin: 8px;
    margin-bottom: 16px;
    text-align: center !important;
}

@media screen and (max-width: 959px) {
    p {
        margin-left: 0;
        text-align: left !important;
    }

    .loginbutton {
        font-size: 14pt;
    }

    mat-vertical-stepper {
        max-width: 100%;
    }
}