h2 {
    margin-right: 32px;
}

h2:hover {
    cursor: pointer;
    color: lightgray;
}


.fill-space {
    flex: 1 1 auto;
  }

.active {
    border-radius: 2px;
    background: #2c3982;
}

mat-sidenav { 
    width: 200px;
}

mat-sidenav button {
    padding: 4px 0px;
    font-size: 14pt;
}

mat-toolbar.main {
    position: fixed;
    z-index: 9999;
}


.dummy {
    height: 0;
    padding: 0 !important;
}

@media screen and (max-width: 600px) {
    .active {
        border-radius: 0px;
        background: rgb(196, 196, 196);
        color: white;
    }

    button:hover {
        border-radius: 0px;
    }
}

