<mat-sidenav-container fullscreen>
  <mat-sidenav mode="over" #sidenav>
    <div fxLayout="column">
      <mat-toolbar fxLayoutAlign="center center" color="primary">
        <h1>Menu</h1>
      </mat-toolbar>
      <div class="buttons" fxLayout="column" (click)="sidenav.close()">
        <button mat-button class="dummy"></button>
        <button routerLinkActive="active" [routerLink]="['/survey']" mat-button>Survey</button>
        <div class="divider"></div>
        <button routerLinkActive="active" [routerLink]="['/user/profile']" mat-button>Profile</button>
        <button [routerLink]="['/user/login']" mat-button>Login</button>
      </div>
    </div>
  </mat-sidenav>


  <mat-toolbar color="primary" fxLayoutGap="16px" fxLayoutAlign.xs="center center" fxLayoutAlign="start center">
    <h2>Surveymaster</h2>
    <button mat-button (click)="sidenav.open()" fxHide="false" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>

    <div fxLayout="row" fxShow="false" fxShow.gt-xs fxLayoutAlign="space-between" fxFlex="100%">
      <div fxLayoutGap="16px">
        <button routerLinkActive="active" [routerLink]="['/survey']" mat-button>Survey</button>
      </div>
      <div fxLayoutGap="16px">
        <div *ngIf="!this.authService.user$.value" >
            <button [routerLink]="['/user/register']" mat-button>Register</button>
            <button [routerLink]="['/user/login']" mat-button>Login</button>
        </div>
        
        <div *ngIf="this.authService.user$.value">
          <button routerLinkActive="active" [routerLink]="['/user/profile']" mat-button>Profile</button>
          <button  (click)="logout()" mat-button>Logout</button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <div fxLayout="column" *ngIf="loading" fxLayoutAlign="center center">
    <mat-spinner fxFlexOffset="150px"></mat-spinner>
  </div>

  <div class="container" *ngIf="!loading">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>