<mat-sidenav-container fullscreen>
  <mat-sidenav mode="over" #sidenav>
    <div fxLayout="column">
      <mat-toolbar fxLayoutAlign="center center" color="primary">
        <h1>Menu</h1>
      </mat-toolbar>
      <div class="buttons" fxLayout="column" (click)="sidenav.close()">
        <button mat-button class="dummy"></button>
        <button *ngIf="!this.auth.user$.value" mat-button [routerLink]="['/home']">
          Home
        </button>
        <button *ngIf="this.auth.user$.value" routerLinkActive="active" [routerLink]="['/survey']" mat-button>Survey</button>
        <button *ngIf="this.auth.user$.value" routerLinkActive="active" [routerLink]="['/addsurvey']" mat-button>Submit a survey</button>

        <div class="divider"></div>
        <button *ngIf="!this.auth.user$.value" [routerLink]="['/user/register']" mat-button>Register</button>
        <button *ngIf="!this.auth.user$.value" [routerLink]="['/user/login']" mat-button>Login</button>

        <button *ngIf="this.auth.user$.value" routerLinkActive="active" [routerLink]="['/user']" mat-button>Profile</button>
        <button *ngIf="this.auth.user$.value" [routerLink]="['/logout']" mat-button>Logout</button>
      </div>
    </div>
  </mat-sidenav>


  <mat-toolbar class="main" color="primary" fxLayoutGap="12px" fxLayoutAlign.xs="center center" fxLayoutAlign="start center">
    <h2 (click)="goHome()">Surveymaster</h2>
    <button mat-button (click)="sidenav.open()" fxHide="false" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>

    <div fxLayout="row" fxShow="false" fxShow.gt-xs fxLayoutAlign="space-between" fxFlex="100%">
      <div fxLayoutGap="8px">
        <button *ngIf="!this.auth.user$.value" mat-icon-button [routerLink]="['/home']">
          <i class="material-icons">home</i>
        </button>
        <div *ngIf="this.auth.user$.value" fxLayoutAlign="start center" fxLayoutGap="12px">
          <button routerLinkActive="active" [routerLink]="['/survey']" mat-button>
            <p fxLayoutAlign="center center"><i class="material-icons">poll</i> Survey</p>
          </button>
          <button routerLinkActive="active" [routerLink]="['/addsurvey']" mat-button>
            <p fxLayoutAlign="center center"><i class="material-icons">add</i>Submit a survey</p>
          </button>
        </div>
      </div>
      <div fxLayoutGap="8px">
        <div *ngIf="!this.auth.user$.value" fxLayoutAlign="start center" fxLayoutGap="12px">
          <button [routerLink]="['/user/register']" mat-button>
            <p fxLayoutAlign="center center"><i class="material-icons">portrait</i>Register</p></button>
          <button [routerLink]="['/user/login']" mat-button>
            <p fxLayoutAlign="center center"><i class="material-icons">input</i>Login</p>
          </button>
        </div>

        <div *ngIf="this.auth.user$.value" fxLayoutAlign="start center" fxLayoutGap="12px">
          <button routerLinkActive="active" [routerLink]="['/user']" mat-button>
            <p fxLayoutAlign="center center"><i class="material-icons">person</i>Profile</p>
          </button>
          <button [routerLink]="['/logout']" mat-button>
            <p fxLayoutAlign="center center"><i class="material-icons">power_settings_new</i>Logout</p>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <div fxLayout="column" *ngIf="loading" fxLayoutAlign="center center">
    <mat-spinner fxFlexOffset="150px"></mat-spinner>
  </div>

  <div class="container" *ngIf="!loading">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>