.chart {
    display: block;
    height: 250px;
}

.question {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px !important;
}

.mat-card h2, .mat-card p {
    margin: 0;
}

.first {
    background-color: #2663ff;
    color: white;
}

.second {
    background-color: #f44542;
    color: white;
}