<div class="main" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxFlex="24em">
    <mat-card-header fxLayout="row">
      <h1>
        Login
      </h1>
    </mat-card-header>
    <form #form="ngForm" (ngSubmit)="login(form)">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="8px">
          <mat-form-field>
            <input matInput placeholder="Naam of e-mail" [(ngModel)]="username" name="username" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Wachtwoord" [(ngModel)]="password" name="password" type="password" required>
          </mat-form-field>
        </div>
      </mat-card-content>
      <div class="error">
        <mat-error>{{errorMessage}}</mat-error>
      </div>
      <mat-card-actions fxLayoutGap="10px">
        <button color="primary" mat-raised-button fxFlex="100">
          Log in
        </button>
      </mat-card-actions>
      <div class="register" fxLayoutAlign="center">
          <a (click)="registerClick()">Not a member yet? Register</a>
      </div>
      
    </form>
  </mat-card>
</div>