<div class="main" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxFlex="24em">
    <mat-card-header fxLayout="row">
      <h1>
        Login
      </h1>
    </mat-card-header>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="8px">
          <mat-form-field>
            <input matInput placeholder="Naam of e-mail" [(ngModel)]="username" name="username" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Wachtwoord" name="password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutGap="10px">
        <button color="primary" mat-raised-button fxFlex="70%">
          Log in
        </button>
        <button type="button" [routerLink]="['/register']" mat-raised-button fxFlex="30%">
          Registreer
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>