h1 {
    color:white;
    padding: 8px 8px 12px 16px;
    margin-top:20px;
    margin-bottom: 0;
    font-size: 28pt;
}

.mat-card-header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #3f51b5 !important;
}

.mat-card {
    padding: 0 !important;
}

.mat-card-content {
    padding: 32px 32px 0px 32px !important;
    margin-bottom: 0px;
}

.mat-card-actions {
    padding: 12px 48px 0px 48px !important;
    margin-bottom: 0px;
}

.register {
    margin-bottom: 16px;
}

.container {
    background: #eeeeee;
}

.main {
    margin-top: 36px;
}

.error {
    height: 16px;
}

.serverError {
    width: 100%;
    text-align: center;
}

a {
    color: black;
    margin-top: 12px;
    text-align: center;
    font-size: 10pt;
}

a:hover {
    cursor: pointer;
    color:darkgray;
}