/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 16px;
}

.smallcontainer {
    max-width: 800px;
    margin: 0px auto;
    padding: 16px;
}

.extrasmallcontainer {
    max-width: 500px;
    margin: 0px auto;
    padding: 16px;
}

.divider {
    display: block;
    height: 1px;
    margin: 10px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
    width: 100%
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 16pt;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 13pt;
    }

    h4 {
        font-size: 12pt;
    }

    p {
        font-size: 10pt;
    }

    .container {
        padding: 8px;
    }

    .smallcontainer {
        padding: 8px;
    }

    .extrasmallcontainer {
        padding: 8px;
    }
    
}