/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 16px;
}

.divider {
    display: block;
    height: 1px;
    margin: 10px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
    width: 100%
}