<mat-card>
    <div>
        <div class="header" fxLayoutAlign="center center">
            <h1>{{survey.vraag}}</h1>
        </div>
        <div fxLayout="column" fxLayoutGap="24px">
            <mat-card-content fxLayout.xs="column" fxLayoutGap.xs="16px" fxLayoutAlign="space-evenly center">
                <button color="primary" mat-raised-button>{{survey.antwoord1}}</button>
                <button mat-raised-button>{{survey.antwoord2}}</button>
            </mat-card-content>
        </div>
    </div>
    <div class="divider"></div>
    <div fxLayoutAlign="center center">
        <button class="test" mat-raised-button [disabled]="loading" (click)="skipQuestion()">Skip question
            <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
        </button>
    </div>
</mat-card>
<mat-card>
    <h2>Comments</h2>
    <div class="comments">
        <div class="comment">
            <div fxLayoutAlign="space-between center">
                <div fxLayoutAlign="start center">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <h4 mat-line>Markske69</h4>
                </div>
                <div>
                    <button mat-icon-button>
                        <i class="material-icons up">thumb_up</i>
                    </button>
                    <button mat-icon-button>
                        <i class="material-icons down">thumb_down</i>
                    </button>
                    <p class="counter">+ 27</p>
                </div>
            </div>
            <p>Wa een zieklachen vraag lolz</p>
            <div class="divider"></div>
        </div>
        <div class="comment">
            <div fxLayoutAlign="space-between center">
                <div fxLayoutAlign="start center">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <h4 mat-line>Lennaboy</h4>
                </div>
                <div>
                    <button mat-icon-button>
                        <i class="material-icons up">thumb_up</i>
                    </button>
                    <button mat-icon-button>
                        <i class="material-icons down">thumb_down</i>
                    </button>
                    <p class="counter">+ 165</p>
                </div>
            </div>
            <p>Ahahahaha ja g</p>
            <div class="divider"></div>
        </div>
    </div>
</mat-card>