mat-card {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.header {
    margin-bottom: 32px;
}

mat-spinner {
    display: inline-block;
    margin-left: 8px;
}

mat-card-content > button {
    white-space: normal;
    line-height: 20px;
    width: 180px;
    height: 120px;
}

.comments {
    padding: 16px 16px;
    border-radius: 2px;
    border: 1px rgba(0, 0, 0, .12) solid;
}

.comment {    
    margin: 0px 32px;
}

.comment h4 {
    margin: 0px 4px 0px 16px;
}

.comment p {
    margin-top: 8px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.comment .counter {
    width: 75px;
    display: inline-block;
    padding-left: 8px;
}

.up {
    color: #1fd100;
}

h2 {
    width: 100%;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

textarea {
    resize: none !important;
}

.first {
    color: white;
    background-color: #2663ff;
}

.second {
    color:white;
    background-color: #f44542;
}

.actions {
    margin-top: 12px;
}

.commentform {
    margin-top: 8px;
    padding: 8px 16px;
}

.commentform button {
    margin: 24px 0px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 13pt;
    }

    button {
        font-size: 10pt;
    }

    .comments {
        border: none;
        padding: 2px;
    }

    .comment {
        margin: 0 4px;
    }

    .comment .counter {
        width: auto;
        margin-right: 8px;
        margin-top: 4px;
        margin-bottom: 0px;
    }

    .comment p {
        margin-top: 12px;
    }

    .date {
        font-size: 10pt;
    }

    
    .actions {
        margin-top: 0px;
    }

    .commentform {
        margin-top: 8px;
        padding: 8px 4px;
    }

    .commentform button {
        margin: 0px;
    }
    
}