<div class="extrasmallcontainer">
  <mat-card>
    <h1>Submit a new survey</h1>
    <div class="divider"></div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Question" [(ngModel)]="vraag" name="vraag" required #vraagg="ngModel">
        <mat-error *ngIf="vraagg.errors?.required">
          You need a question
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Answer 1" [(ngModel)]="antwoord1" name="antwoord1" required #aantwoord1="ngModel">
        <mat-error *ngIf="aantwoord1.errors?.required">
          You need a first answer
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Answer 2" [(ngModel)]="antwoord2" name="antwoord2" required #aantwoord2="ngModel">
        <mat-error *ngIf="aantwoord1.errors?.required">
          You need a second answer
        </mat-error>
      </mat-form-field>
      <button color="primary" [disabled]='!form.valid' mat-raised-button>
        <p fxLayoutAlign="center center">
          <i class="material-icons">add</i>&nbsp;Submit new survey</p>
      </button>
    </form>
  </mat-card>
</div>