.error {
    height: 24px;
}

.mat-error {
    text-align: center;
}

a {
    color: black;
    margin-top: 12px;
    text-align: center;
    font-size: 10pt;
}

a:hover {
    cursor: pointer;
    color:darkgray;
}